*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.registracija {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

input[type=text], textarea {
    width: 100%; 
    padding: 8px; 
    border: 1px solid #ccc; 
    border-radius: 4px;
    box-sizing: border-box; 
    margin-top: 2px; 
    margin-bottom: 8px; 
    resize: vertical 
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.col-12{
    margin-top: 40px;
    
    
}
.row{
    background-color: wheat;
    padding-left: 300px;
    padding-right: 300px;
    padding-bottom: 20px;
    height: 100vh;

    
}
