*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    
    
}
.bg{
    background-color: wheat;
    width: 100%;
    height: 100vh;
    background-size: 100%;
    position: absolute;
    
}
.form-container{
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #000;
}
.row{
    margin-top: 100px;
}

